<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Stock Exchange Web Service </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="#" class="logo">Hello <strong><%= user.username %></strong></a>
									<a href="#" class="logo">Wallet: <strong><%= user.walletUSD.toFixed(2) %></strong></a>
									<ul class="actions">
										<li><a href="#" class="button small" id="add-money">Add Money</a></li>
										<li><a href="/logout" class="button small">Logout</a></li>
									</ul>
									
									
								</header>

							<!-- Banner -->
								<section id="banner">
									<dialog class="modal" id="modal">
										<form method="post" action="/addMoney" id="walletForm" >
												<div class="col-6 col-12-xsmall">
													<input type="number" name="demo" id="demo-name" value="" placeholder="Amount" min="0" max="200" style="width: 100%"/>
												</div>
												<br>
												<!-- Break -->
												<div class="col-12">
													<ul class="actions">
														<li><input id="submit" type="submit" value="Add Money" class="primary" /></li>
														<li><input id="cancel-modal" type="reset" value="Cancel" /></li>
													</ul>
												</div>
										</form>
									</dialog>
									
									<div class="content">
										
									</div>
								</section>

						<!-- Table -->
						<h3>Buy Stocks</h3>
						<div class="table-wrapper">
							<table>
								<caption>
									<section id="search" class="alt">
										<form method="post" action="#">
											<input type="text" name="query" id="query" placeholder="Search" />
										</form>
									</section>
								</caption>
								<thead>
									<tr>
										<th>Company Symbol</th>
										<th>Company Name</th>
										<th>Available Shares</th>
										<th>Price per Share</th>
										<th>Currency</th>
									</tr>
								</thead>
								<tbody>
									<% for(var i=0; i < stocks.length; i++) { %>
										<tr>
										  <td><%= stocks[i].symbol %></td>
										  <td><%= stocks[i].name %></td>
										  <td><%= stocks[i].availableShares %></td>
										  <td><%= stocks[i].price %></td>
										  <td><%= stocks[i].currency %></td>
										  <td><a href="/stock/<%=stocks[i].symbol%>" class="button small" >Buy</a></td>
										</tr>
									 <% } %>
								</tbody>
							</table>
						</div> 
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<h3>Your Stocks</h3>
								
							<ul class="alt">
								<% for(var i=0; i < user.shares.length; i++) { %>
									<li><%=user.shares[i].companyName.toUpperCase()%> : <%=user.shares[i].sharesBought%> <a class="button fit" href="/sellstock/<%=user.shares[i].companySymbol%>">Sell</a></li>
								 <% } %>
							</ul>
							<!-- Footer -->
							<footer id="footer">
								<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
							</footer>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
			<script>
				
				const add = document.querySelector('#add-money')
				const submitButton = document.getElementById('submit')
				const closeModal = document.querySelector('#cancel-modal')
		
				add.addEventListener('click',()=>{
					modal.showModal()
				})

				closeModal.addEventListener('click',()=>{
					modal.close()
				})

				

			</script>

	</body>
</html>